<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../Content/checkin.css">
    <link rel="stylesheet" href="../Content/bootstrap.min.css">
</head>
<body>
<div class="content">
    <div class="main">
        <div class="caption">
            <H1>Добро пожаловать в <br> File Sharing Comfort!</H1>
        </div>
        <div class="text1">
            <h1>Регистрация</h1>
        </div>
        <div class="myform">
            <form class="px-4 py-3">
                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Как Вас зовут?</label>
                    <br>
                    <input type="text" class="form-control" id="Name"
                           placeholder="Иван">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="Surname"
                           placeholder="Иванов">
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Пол</label>
                    <br>
                    <select name="select" class="pol">
                        <option value="Female">Женский</option>
                        <option value="Male">Мужской</option>
                        <option value="Other">Другой</option>
                        <option value="Not specified">Не указан</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Мобильный телефон</label>
                    <br>
                    <input type="text" class="form-control" id="Phone"
                           placeholder="+380______________________">
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormEmail1">Придумайте адресс эл. почты</label>
                    <br>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                           placeholder="email@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword1">Придумайте пароль</label>
                    <br>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                           placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>